<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Produtos</h5>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Estado</th>
                    <th>ID Compra</th>
                    <th>ID Endereço</th>
                    <th>Imagem da Nota</th>
                    <th>Metodo de Pagamento</th>
                    <th>Nota Fiscal</th>
                    <th>Valor Total</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="compra in vm.compras">
                      <td ng-if="compra.estado"> <span style="color: green;">{{compra.estadoType}}</span></td>
                      <td ng-if="!compra.estado"> <span style="color: red;">{{compra.estadoType}}</span></td>
                      <td>{{compra.idcompra}}</td>
                      <td>{{compra.idendereco}}</td>
                      <td>{{compra.imagemnf}}</td>
                      <td>{{compra.metodo_de_pagamento}}</td>
                      <td>{{compra.notafiscal}}</td>
                      <td>{{compra.valor}}</td>
                      <td>
                        <a ng-click="vm.confirm(compra.idcompra, $index)">
                          <i class="fa fa-check"  aria-hidden="true" />
                        </a>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
